@using degnirk.be.Models;
@inherits Umbraco.Web.Mvc.UmbracoViewPage<EventsRollupModel>
<a href="evenementen">
    <h3>Evenementen</h3>
</a>
<ul class="list-group">
    @foreach (var eventItem in Model.Events)
    {
        <li class="list-group-item">
            <span class="badge">@eventItem.AttendingCount</span>
            <p class="list-group-item-heading"><a href="@eventItem.Url">@eventItem.Title</a></p>
            <a class="facebook-event-img" href="@eventItem.Url" style="background-image: url(@eventItem.CoverPicture)">
                @*<img class="img-responsive img-rounded" src="@facebookEvent.picCover" alt="@facebookEvent.name" />*@
            </a>
        </li>
    }
</ul>
