@using degnirk.be.Models

@inherits Umbraco.Web.Mvc.UmbracoViewPage<FacebookAlbumsModel>

<div id="facebookAlbums" class="row">
    @foreach (var facebookAlbum in Model.FacebookAlbums)
    {
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 text-center">
            <a href="@facebookAlbum.link">
                <img src="@facebookAlbum.srcBig" alt="@facebookAlbum.name" class="img-thumbnail"/></a>
            <a href="@facebookAlbum.link">
                <h5>@facebookAlbum.name</h5>
            </a>
        </div>
    }
</div>
