<a href="evenementen">
    <h3>Evenementen</h3>
</a>
<ul class="list-group">
    @foreach (var facebookEvent in Model.FacebookEvents)
    {
        <li class="list-group-item">
            <span class="badge">@facebookEvent.attendingCount</span>
            <p class="list-group-item-heading"><a href="@facebookEvent.link">@facebookEvent.name</a></p>
            <a class="facebook-event-img" href="@facebookEvent.link" style="background-image: url(@facebookEvent.picCover)">
                @*<img class="img-responsive img-rounded" src="@facebookEvent.picCover" alt="@facebookEvent.name" />*@
            </a>
        </li>
    }
</ul>
