@using System.Linq
@using degnirk.be.Models
@using umbraco.MacroEngines
@using Umbraco.Web.UI.Umbraco.Create
@using ClientDependency.Core.Mvc
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "master.cshtml";

    Html.RequiresJs("~/scripts/home.js",3);
    
    @helper Traverse(IPublishedContent node)
{
    const int maxLevelForSitemap = 2;

    var values = new Dictionary<string, object>();
    var items = node.Children.Where(i => i.IsVisible() && i.Level <= maxLevelForSitemap);
    foreach (var item in items)
    {
        if (item.Level < maxLevelForSitemap && @item.Children.Any())
        {
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">@item.Name <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    @Traverse(item)
                </ul>
            </li>
        }
        else
        {
            <li>
                <a href="@item.Url">@item.Name</a>
                @Traverse(item)
            </li>
        }
    }
}
}
@section bodycontent
{
    @{
        var mediaId = (int)@Model.Content.GetProperty("mediaPicker").Value;
        var umbracoHelper = new UmbracoHelper(this.UmbracoContext);
        var media = umbracoHelper.TypedMedia(mediaId);
        var images = string.Join(", ", media.Children.Select(i => "'.." + i.Url + "'").RandomOrder());
    }
    <script type="text/javascript">
        var images = [@Html.Raw(images)];
    </script>
    <header>
        <div id="headerContent">
            <div id="logoHolder">
                <a class="hide-text degnirklogo scrollToHref" id="degnirkinnerlogo" href="#home">Jeugdhuis De Gnirk</a>
                <a class="hide-text degnirklogo scrollToHref" id="degnirkinnerring" href="#home">Jeugdhuis De Gnirk</a>
                <a class="hide-text degnirklogo scrollToHref" id="degnirkouterring" href="#home">Jeugdhuis De Gnirk</a>
            </div>
            <div id="subnav" class="shadow">
                <h1>
                    <a href="#home" class="scrollToHref">JEUGDHUIS DE GNIRK</a>
                </h1>
                <h2>
                    <a href="evenementen">EVENEMENTEN</a>
                </h2>
                &nbsp;-&nbsp;
                <h2>
                    <a href="#fotos" class="scrollToHref">FOTO'S</a>
                </h2>
                &nbsp;-&nbsp;
                <h2>
                    <a href="#content">VERHUUR</a>
                </h2>
            </div>
        </div>
    </header>

    <div id="content" class="container">
        <nav id="navbar" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">De Gnirk</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                      @Traverse(@Model.Content)
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="navbar-text"><a href="#" id="fb-login-button">&nbsp;</a></li>
                        @*the extended permissions: manage_pages,status_update are required for posting a status on behalf of the page*@
                        <li><span class="fb-login-button navbar-text" perms="user_birthday,email,user_location" data-show-faces="false" data-width="400" data-max-rows="1"></span></li>
                        <li><a href="#">Link</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /.navbar-collapse -->
        </nav>
        <h2 id="home">Home</h2>

        <div class="row">
            <div class="col-sm-2">
                @{ Html.RenderPartial("~/Views/Partials/Login.cshtml", new LoginModel()); }
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4">
                <h3>Nieuws</h3>
                <p>
                    rfzefze rufz afzerfzaer ferf ezgv rfi afgerhjfjze rgeuzr
                </p>
                <button type="button" class="btn btn-default">Meer</button>
            </div>
            <div class="col-md-4" id="evenementen">
                @{ Html.RenderPartial("~/Views/Partials/FacebookEvents.cshtml", new FacebookEventsModel()); }
            </div>
            <div class="col-sm-4">
                <a href="evenementen/fotos">
                    <h3 id="fotos">Foto's</h3>
                </a>
                <p>Stage De Gnirk 2.0</p>
            </div>
        </div>

        <p>Lorum ipsum</p>
        <div class="row">
            <div class="col-xs-8">kolom8</div>
            <div class="col-md-4">kolom4</div>
        </div>
        <div class="row">
            <div class="col-md-12">De volledige breedte is ingenomen door deze teskt normaal. Ik ga hier nog wat zeveren om het parallax effect mogelijk te maken. Daarna ga ik proberen om het te implementeren. En als dat niet lukt dan laat ik het zo.</div>
        </div>
        <div class="row">
            <div class="col-md-4">De volledige breedte is ingenomen door deze teskt normaal. Ik ga hier nog wat zeveren om het parallax effect mogelijk te maken. Daarna ga ik proberen om het te implementeren. En als dat niet lukt dan laat ik het zo.</div>
            <div class="col-md-8">De volledige breedte is ingenomen door deze teskt normaal. Ik ga hier nog wat zeveren om het parallax effect mogelijk te maken. Daarna ga ik proberen om het te implementeren. En als dat niet lukt dan laat ik het zo.</div>
        </div>
        <div class="row">
            <div class="col-md-3">De volledige breedte is ingenomen door deze teskt normaal. Ik ga hier nog wat zeveren om het parallax effect mogelijk te maken. Daarna ga ik proberen om het te implementeren. En als dat niet lukt dan laat ik het zo.</div>
            <div class="col-md-3">De volledige breedte is ingenomen door deze teskt normaal. Ik ga hier nog wat zeveren om het parallax effect mogelijk te maken. Daarna ga ik proberen om het te implementeren. En als dat niet lukt dan laat ik het zo.</div>
            <div class="col-md-3">De volledige breedte is ingenomen door deze teskt normaal. Ik ga hier nog wat zeveren om het parallax effect mogelijk te maken. Daarna ga ik proberen om het te implementeren. En als dat niet lukt dan laat ik het zo.</div>
            <div class="col-md-3">De volledige breedte is ingenomen door deze teskt normaal. Ik ga hier nog wat zeveren om het parallax effect mogelijk te maken. Daarna ga ik proberen om het te implementeren. En als dat niet lukt dan laat ik het zo.</div>
        </div>
        <div class="row">
            <div class="col-md-2">De volledige breedte is ingenomen door deze teskt normaal. Ik ga hier nog wat zeveren om het parallax effect mogelijk te maken. Daarna ga ik proberen om het te implementeren. En als dat niet lukt dan laat ik het zo.</div>
            <div class="col-md-2">De volledige breedte is ingenomen door deze teskt normaal. Ik ga hier nog wat zeveren om het parallax effect mogelijk te maken. Daarna ga ik proberen om het te implementeren. En als dat niet lukt dan laat ik het zo.</div>
            <div class="col-md-2">De volledige breedte is ingenomen door deze teskt normaal. Ik ga hier nog wat zeveren om het parallax effect mogelijk te maken. Daarna ga ik proberen om het te implementeren. En als dat niet lukt dan laat ik het zo.</div>
            <div class="col-md-2">De volledige breedte is ingenomen door deze teskt normaal. Ik ga hier nog wat zeveren om het parallax effect mogelijk te maken. Daarna ga ik proberen om het te implementeren. En als dat niet lukt dan laat ik het zo.</div>
            <div class="col-md-2">De volledige breedte is ingenomen door deze teskt normaal. Ik ga hier nog wat zeveren om het parallax effect mogelijk te maken. Daarna ga ik proberen om het te implementeren. En als dat niet lukt dan laat ik het zo.</div>
            <div class="col-md-2">De volledige breedte is ingenomen door deze teskt normaal. Ik ga hier nog wat zeveren om het parallax effect mogelijk te maken. Daarna ga ik proberen om het te implementeren. En als dat niet lukt dan laat ik het zo.</div>
        </div>
        <div class="row">
            <div class="col-md-3">De volledige breedte is ingenomen door deze teskt normaal. Ik ga hier nog wat zeveren om het parallax effect mogelijk te maken. Daarna ga ik proberen om het te implementeren. En als dat niet lukt dan laat ik het zo.</div>
            <div class="col-md-3">De volledige breedte is ingenomen door deze teskt normaal. Ik ga hier nog wat zeveren om het parallax effect mogelijk te maken. Daarna ga ik proberen om het te implementeren. En als dat niet lukt dan laat ik het zo.</div>
            <div class="col-md-3">De volledige breedte is ingenomen door deze teskt normaal. Ik ga hier nog wat zeveren om het parallax effect mogelijk te maken. Daarna ga ik proberen om het te implementeren. En als dat niet lukt dan laat ik het zo.</div>
            <div class="col-md-3">De volledige breedte is ingenomen door deze teskt normaal. Ik ga hier nog wat zeveren om het parallax effect mogelijk te maken. Daarna ga ik proberen om het te implementeren. En als dat niet lukt dan laat ik het zo.</div>
        </div>
        <div class="row">
            <div class="col-md-2">De volledige breedte is ingenomen door deze teskt normaal. Ik ga hier nog wat zeveren om het parallax effect mogelijk te maken. Daarna ga ik proberen om het te implementeren. En als dat niet lukt dan laat ik het zo.</div>
            <div class="col-md-2">De volledige breedte is ingenomen door deze teskt normaal. Ik ga hier nog wat zeveren om het parallax effect mogelijk te maken. Daarna ga ik proberen om het te implementeren. En als dat niet lukt dan laat ik het zo.</div>
            <div class="col-md-2">De volledige breedte is ingenomen door deze teskt normaal. Ik ga hier nog wat zeveren om het parallax effect mogelijk te maken. Daarna ga ik proberen om het te implementeren. En als dat niet lukt dan laat ik het zo.</div>
            <div class="col-md-2">De volledige breedte is ingenomen door deze teskt normaal. Ik ga hier nog wat zeveren om het parallax effect mogelijk te maken. Daarna ga ik proberen om het te implementeren. En als dat niet lukt dan laat ik het zo.</div>
            <div class="col-md-2">De volledige breedte is ingenomen door deze teskt normaal. Ik ga hier nog wat zeveren om het parallax effect mogelijk te maken. Daarna ga ik proberen om het te implementeren. En als dat niet lukt dan laat ik het zo.</div>
            <div class="col-md-2">De volledige breedte is ingenomen door deze teskt normaal. Ik ga hier nog wat zeveren om het parallax effect mogelijk te maken. Daarna ga ik proberen om het te implementeren. En als dat niet lukt dan laat ik het zo.</div>
        </div>
        <div class="row">
            <div class="col-md-3">De volledige breedte is ingenomen door deze teskt normaal. Ik ga hier nog wat zeveren om het parallax effect mogelijk te maken. Daarna ga ik proberen om het te implementeren. En als dat niet lukt dan laat ik het zo.</div>
            <div class="col-md-3">De volledige breedte is ingenomen door deze teskt normaal. Ik ga hier nog wat zeveren om het parallax effect mogelijk te maken. Daarna ga ik proberen om het te implementeren. En als dat niet lukt dan laat ik het zo.</div>
            <div class="col-md-3">De volledige breedte is ingenomen door deze teskt normaal. Ik ga hier nog wat zeveren om het parallax effect mogelijk te maken. Daarna ga ik proberen om het te implementeren. En als dat niet lukt dan laat ik het zo.</div>
            <div class="col-md-3">De volledige breedte is ingenomen door deze teskt normaal. Ik ga hier nog wat zeveren om het parallax effect mogelijk te maken. Daarna ga ik proberen om het te implementeren. En als dat niet lukt dan laat ik het zo.</div>
        </div>
        <div class="row">
            <div class="col-md-2">De volledige breedte is ingenomen door deze teskt normaal. Ik ga hier nog wat zeveren om het parallax effect mogelijk te maken. Daarna ga ik proberen om het te implementeren. En als dat niet lukt dan laat ik het zo.</div>
            <div class="col-md-2">De volledige breedte is ingenomen door deze teskt normaal. Ik ga hier nog wat zeveren om het parallax effect mogelijk te maken. Daarna ga ik proberen om het te implementeren. En als dat niet lukt dan laat ik het zo.</div>
            <div class="col-md-2">De volledige breedte is ingenomen door deze teskt normaal. Ik ga hier nog wat zeveren om het parallax effect mogelijk te maken. Daarna ga ik proberen om het te implementeren. En als dat niet lukt dan laat ik het zo.</div>
            <div class="col-md-2">De volledige breedte is ingenomen door deze teskt normaal. Ik ga hier nog wat zeveren om het parallax effect mogelijk te maken. Daarna ga ik proberen om het te implementeren. En als dat niet lukt dan laat ik het zo.</div>
            <div class="col-md-2">De volledige breedte is ingenomen door deze teskt normaal. Ik ga hier nog wat zeveren om het parallax effect mogelijk te maken. Daarna ga ik proberen om het te implementeren. En als dat niet lukt dan laat ik het zo.</div>
            <div class="col-md-2">De volledige breedte is ingenomen door deze teskt normaal. Ik ga hier nog wat zeveren om het parallax effect mogelijk te maken. Daarna ga ik proberen om het te implementeren. En als dat niet lukt dan laat ik het zo.</div>
        </div>
        <footer class="bottom text-center">footer</footer>
    </div>
}