@using degnirk.be.Models
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "master.cshtml";

    @helper Traverse(IPublishedContent node, int activeNodeId = 0)
{
    const int maxLevelForSitemap = 2;

    var values = new Dictionary<string, object>();
    var items = node.Children.Where(i => i.IsVisible() && i.Level <= maxLevelForSitemap);
    foreach (var item in items)
    {
        if (item.Level < maxLevelForSitemap && @item.Children.Any())
        {
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">@item.Name <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    @Traverse(item)
                </ul>
            </li>
        }
        else
        {
            if (activeNodeId == item.Id)
            {
                <li class="active">
                    <a href="@item.Url">@item.Name</a>
                    @Traverse(item)
                </li>
            }
            else
            {
                <li>
                    <a href="@item.Url">@item.Name</a>
                    @Traverse(item)
                </li>
            }

        }
    }
}
}

@section bodycontent
{
    <div id="content" class="container">
        <nav id="navbar" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="~/#home">De Gnirk</a>
                </div>


                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        @Traverse(@Model.Content.Parent, Model.Content.Id)
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="navbar-text"><a href="#" id="fb-login-button">&nbsp;</a></li>
                        @*the extended permissions: manage_pages,status_update are required for posting a status on behalf of the page*@
                        <li><span class="fb-login-button navbar-text" perms="user_birthday,email,user_location" data-show-faces="false" data-width="400" data-max-rows="1"></span></li>
                        <li><a href="#">Link</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
        </nav>
        <ol class="breadcrumb">
            @foreach (var ancestor in Model.Content.Ancestors().Where(t => t.IsVisible()).Reverse())
            {
                <li><a href="@ancestor.Url">@ancestor.Name</a></li>
            }
            <li class="active">@Model.Content.Name</li>
        </ol>

        @{ Html.RenderPartial("~/Views/Partials/Login.cshtml", new LoginModel()); }
        @RenderSection("content")
    </div>
}